.applicationPage {
  padding: 30px;
  text-align: center;
}

/* TITLE */

.teamTitle {
  color: #5a4fb3;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

/* TABLE */

.teamTable {
  margin: auto;
  border-collapse: collapse;
  width: 95%;
  background: #f9f9f9;
}

/* HEADER ROW */

.teamTable th {
  background: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
}

/* FIRST COLUMN (FIELD COLUMN) */

.teamTable td:first-child {
  background: #333 !important;
  color: white !important;
  font-weight: 600;
  width: 200px;
  text-align: center;
}

/* NORMAL CELLS */

.teamTable td {
  border: 1px solid #ccc;
  padding: 18px;
  background: #eeeeee;
}

/* INPUTS */

.teamTable input {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 14px;
}

/* SELECT */

.teamTable select {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 14px;
}

/* ADD MEMBER BUTTON */

.addMemberDiv {
  margin-top: 25px;
}

.addBtn {
  background: #2e6bd6;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.addBtn:hover {
  background: #1f4fa8;
}

/* NOTE */

.leaderNote {
  margin-top: 15px;
  color: red;
  font-size: 15px;
}

/* ABSTRACT */

.solutionBox {
  margin-top: 40px;
}

.solutionBox textarea {
  width: 70%;
  height: 200px;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid gray;
}

/* UPLOAD SECTION */

.uploadWrapper {
  margin-top: 40px;
}

/* FILE INPUT CENTER */

.fileInput {
  display: block;
  margin: 20px auto;
  margin-left: 43%;
}

/* PPT NOTE */

.pptNote {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* SUBMIT BUTTON */

.submitBtn {
  margin-top: 40px;
  background: green;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.submitBtn:disabled {
  background: gray;
  cursor: not-allowed;
}

.submitBtn:hover:enabled {
  background: #006400;
}
.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-sizing: border-box;
  margin-left: 1.05%;
}
