.headerContainer{

    background:#e6e6e6;
    padding:10px 0;
    text-align:center;
    
    }
    
    
    
    .logoRow{
    
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;   /* reduced spacing */
    
    }
    
    
    
    .logoRow img{
    
    height:60px;
    
    }
    
    
    
    .headerButtons{
    
    position:absolute;
    right:40px;
    top:15px;
    
    }
    
    
    
    .headerButtons button{
    
    margin-left:10px;
    padding:8px 15px;
    border-radius:20px;
    border:2px solid orange;
    background:white;
    cursor:pointer;
    
    }